<h2> Log in </h2><br/>


<%= form_for(:session, url: login_admin_path) do |f| %>


    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Log In!" %>
    </div>

<% end %>
<div class="field"><%= link_to "Back", root_path %></div>