<h3>User Account</h3>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<table class="table">
  <tr>
    <td><%= link_to "Checkout History", checkout_user_path(@user) %></td>
    <td><%= link_to "Recommendations", recommended_path %></td>
    <td><%= link_to "New Recommendation", new_recommendation_path %></td>
    <td><%= link_to "Edit Profile", edit_user_path %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
