<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>

<!--<p>-->
  <strong>Status:</strong>
  <%= link_to @book.status_name, borrow_book_path(@book), :class => 'btn' %>
<!--</p>-->

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
