
<!--Search Books-->
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search" %>
<% end %>

<h1>Listing Books</h1>

<% if @books.present? %>

<table class="table">
  <thead>
  <tr>
    <th>Isbn</th>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Status</th>
    <% if user_logged_in? %>
        <th></th>
    <% end %>

    <% if admin_logged_in? %>
        <th>Edit</th>
        <th>Delete</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.isbn, book_path(book) %></td>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.author %></td>
        <td><%= book.status %></td>
        <% if user_logged_in? %>
            <% if book.status == "In Library" %>
                <td><%= link_to 'Checkout Book', create_checkout_path(book) %></td>
            <% end %>
        <% end %>
        <% if (book.status == "Checked out") %>
            <% if (current_user && !current_user.books.find_by_id(book.id).nil?) %>
                <td><%= link_to 'Return', update_checkout_path(book), data: {confirm: 'Return Book?'} %>
                </td>
            <% else %>
                <td></td>
            <% end %>
        <% end %>
        <% if admin_logged_in? %>
            <td><%= link_to 'Edit', edit_book_path(book) %></td>
            <% if (book.status != "Checked out") %>
                <td><%= link_to 'Destroy', destroy_book_path(book), data: {confirm: 'Are you sure you delete the book?'} %></td>
            <% end %>
        <% end %>
      </tr>
      </tbody>
  <% end %>
  </table>

<% else %>
    <p>There are no books with the search term(s) <%= params[:search] %>.</p>
<% end %>

<% if admin_logged_in? %>
    <%= link_to 'New Book', new_book_path %>
<% end %>
