

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.desc %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
  <% if @book.status == "Checked out" && admin_logged_in? %>

      : <%= @book.checkouts.order("created_at DESC").first.user.email unless @book.checkouts.order("created_at DESC").first.nil? %>
      </p>

  <% end %>
  <hr>
  <% if admin_logged_in? %>
      <p><%= link_to "See Checkout history", checkout_book_path(@book) %><p/>
  <% end %>

  <% if user_logged_in? %>
      <% if @book.status == "In Library" %>
          <br/>
          <%= link_to "Checkout", create_checkout_path(@book) %>
      <% elsif !(@book.checkouts.nil?) %>
          <% if @book.checkouts.order("created_at DESC").first.user == current_user %>
              <br/>
              <%= link_to "Return", update_checkout_path(@book), data: {confirm: 'Are you sure you want to return the book?'} %>
              <% else %>
              <%= link_to "Create Notification", create_notification_path(@book), data: {confirm: 'Are you sure you want notifications for this book?'} %>
          <% end %>
      <% end %>
  <% elsif admin_logged_in? %>
      <% if @book.status == "In Library" %>
          <%= form_for :user, url: create_admin_checkout_path(@book) do |f| %>
              <%= f.label "Enter member email: " %>
              <%= f.text_field :email %><br/>
              <%= f.submit "Checkout Book" %>
          <% end %>
      <% else
           !(@book.checkouts == nil) %>
          <%= link_to "Return Book", update_checkout_path(@book) %><br/>
      <% end %>
      <br/>
      <%= link_to 'Edit', edit_book_path(@book) %>&nbsp;&nbsp
      <%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are you sure you want to delete the book?'} %>
  <% end %>

  <br/><br/>
  <%= link_to "View all books", books_path %>
  </p>
  <% if admin_logged_in? %>
      <%= link_to 'Edit', edit_book_path(@book) %> |
  <% end %>
  <%= link_to 'Back', books_path %>
