<!DOCTYPE html>
<html>
<head>
  <title>LibSys</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>

<div class="container">

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>


<footer>
  <div class="container">
    CSC 517 PROJECT1 | Moharnab Saikia | Shane Sweeney | Kellie M. Jos |NC State University, 2015
  </div>
</footer>
<script src="//railsgirls.com/assets/bootstrap.js"></script>


</body>
</html>
